/* NavBar.css */
.navbar {
  font-family: "Raleway";
    background-color: rgba(16, 193, 166, 0.978);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }
  
  .nav-button {
    width: 200px;
    background-color: rgba(37, 116, 104, 0.978);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: #005F7F;
  }
  