.address{
    background-color: rgba(16, 193, 166, 0.2);
    width: 480px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    font-family: "Raleway";
}
.nftsdisplay{
    margin: 20px;
    margin-top: 20px;
}
.nftsdisplay h2{
    font-family: "Raleway";
    text-align: center;

}
.hr{
    max-width: 900px;
    margin-top: 20px;

}